#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Trial of Strength configuration
########################################
#
#    TrialOfStrength.Enable
#        Description: Enable/disable the module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

TrialOfStrength.Enable = 0

#
#    TrialOfStrength.ResetCooldowns
#        Description: Enable/disable resetting of player cooldowns after completion of a wave.
#                     0 - Disabled
#        Default:     1 - Enabled
#

TrialOfStrength.ResetCooldowns = 1

#
#    TrialOfStrength.MinRewardMoney
#        Description: The minimum amount in copper that will be in the reward chest after completion of a wave.
#        Note:        This value should be lower than MaxRewardMoney.
#        Default:     5000
#

TrialOfStrength.MinRewardMoney = 5000

#
#    TrialOfStrength.MaxRewardMoney
#        Description: The maximum amount in copper that will be in the reward chest after completion of a wave.
#        Note:        This value should be higher than MinRewardMoney.
#        Default:     10000
#

TrialOfStrength.MaxRewardMoney = 10000

#
#    TrialOfStrength.CapRewardMoney
#        Description: The maximum amount in copper that will be in the reward chest after curse difficulty scaling.
#        Default:     1000000
#

TrialOfStrength.CapRewardMoney = 1000000

#
#    TrialOfStrength.Scaling.RewardMoneyScalar
#        Description: Enable/disable scaling reward money with curse difficulty.
#        Note: The formula for scaling is (1 + (sum of every enabled curse difficulty / scalar))
#        Default:     50
#

TrialOfStrength.Scaling.RewardMoneyScalar = 50

#
#    TrialOfStrength.Scaling.RewardMoney
#        Description: Enable/disable scaling reward money with curse difficulty.
#        Note: The formula for scaling is (1 + (sum of every enabled curse difficulty / scalar))
#                     0 - Disabled
#        Default:     1 - Enabled
#

TrialOfStrength.Scaling.RewardMoney = 1

#
#    TrialOfStrength.Scaling.BaseDamage.Physical
#        Description: Controls the base damage of creatures physical damage in the Trial of Strength waves.
#        Note: The formula for the damage is: baseDamage * (1.0f + (float(currentWave) / float(damageDivider)));
#			   The damage range is calculated as: damage = urand(newDamage / 2, newDamage);
#        Default:     500
#

TrialOfStrength.Scaling.BaseDamage.Physical = 500

#
#    TrialOfStrength.Scaling.BaseDamage.PhysicalDivider
#        Description: Controls the base damage divider of creatures physical damage in the Trial of Strength waves.
#        Note: The formula for the damage is: baseDamage * (1.0f + (float(currentWave) / float(damageDivider)));
#			   Increasing/decreasing the value of this setting will change the difficulty between waves.
#        Default:     15
#

TrialOfStrength.Scaling.BaseDamage.PhysicalDivider = 15

#
#    TrialOfStrength.Scaling.BaseDamage.Spell
#        Description: Controls the base damage of creatures spell damage in the Trial of Strength waves.
#        Note: The formula for the damage is: baseDamage * (1.0f + (float(currentWave) / float(damageDivider)));
#			   The damage range is calculated as: damage = urand(newDamage / 2, newDamage);
#        Default:     1000
#

TrialOfStrength.Scaling.BaseDamage.Spell = 1000

#
#    TrialOfStrength.Scaling.BaseDamage.SpellDivider
#        Description: Controls the base damage divider of creatures spell damage in the Trial of Strength waves.
#        Note: The formula for the damage is: baseDamage * (1.0f + (float(currentWave) / float(damageDivider)));
#			   Increasing/decreasing the value of this setting will change the difficulty between waves.
#        Default:     15
#

TrialOfStrength.Scaling.BaseDamage.SpellDivider = 15