#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Trial of Strength configuration
########################################
#
#    TrialOfStrength.Enable
#        Description: Enable/disable the module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

TrialOfStrength.Enable = 0

#
#    TrialOfStrength.ResetCooldowns
#        Description: Enable/disable resetting of player cooldowns after completion of a wave.
#                     0 - Disabled
#        Default:     1 - Enabled
#

TrialOfStrength.ResetCooldowns = 1

#
#    TrialOfStrength.MinRewardMoney
#        Description: The minimum amount in copper that will be in the reward chest after completion of a wave.
#        Note:        This value should be lower than MaxRewardMoney.
#        Default:     5000
#

TrialOfStrength.MinRewardMoney = 5000

#
#    TrialOfStrength.MaxRewardMoney
#        Description: The maximum amount in copper that will be in the reward chest after completion of a wave.
#        Note:        This value should be higher than MinRewardMoney.
#        Default:     10000
#

TrialOfStrength.MaxRewardMoney = 10000

#
#    TrialOfStrength.CapRewardMoney
#        Description: The maximum amount in copper that will be in the reward chest after curse difficulty scaling.
#        Default:     1000000
#

TrialOfStrength.CapRewardMoney = 1000000

#
#    TrialOfStrength.Scaling.RewardMoneyScalar
#        Description: Enable/disable scaling reward money with curse difficulty.
#        Note: The formula for scaling is (1 + (sum of every enabled curse difficulty / scalar))
#        Default:     50
#

TrialOfStrength.Scaling.RewardMoneyScalar = 50

#
#    TrialOfStrength.Scaling.RewardMoney
#        Description: Enable/disable scaling reward money with curse difficulty.
#        Note: The formula for scaling is (1 + (sum of every enabled curse difficulty / scalar))
#                     0 - Disabled
#        Default:     1 - Enabled
#

TrialOfStrength.Scaling.RewardMoney = 1